.sideForo {
  grid-area: sidebar;
  background: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box !important;
  overflow: hidden;
  padding: 3rem 2rem;

  @media (min-width: 768px) {
    padding: 3rem 6rem 2rem 2rem; // Restaura el padding original en pantallas más grandes
  }

  .foroHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .tiitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      margin: 0;
      color: #000000;
    }

    .customDropdown {
      text-align: center;
      display: flex;
      align-items: center;
      gap: 1rem;
      background: transparent;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-weight: 500;
      font-size: 1.5rem;

      &:hover {
        background-color: rgba(
          23,
          101,
          149,
          0.226
        ); /* Cambia el color de fondo del botón al pasar el cursor sobre él */
      }

      .dropdownButton {
        font-size: 1.2rem;
      }
    }

    .dropdownMenu {
      padding: 1rem;
      border-radius: 0.6rem;

      .dropdownItem {
        font-size: 1.5rem;
        border-radius: 0.3rem;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
          background-color: #ebecec; // Cambia el fondo al hacer hover
        }

        .customLabel {
          font-size: 16px;
          margin-left: 0.5rem;
        }

        .icon {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
      }

      .selectedOption {
        background-color: #ebecec;
        color: #000000;
      }
    }
  }

  .sideSubtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
    padding-bottom: 1rem;
    min-height: 2rem; /* Establece una altura mínima para evitar que los elementos se desplacen hacia abajo */
  }

  @media (max-width: 768px) {
    .sideSubtitle {
      font-size: 1.2rem;
    }
  }

  .sideForoBox {
    flex: 1;
    border: 1px solid #e5e5e5;
    background: #ffffff;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;

    .textHelper {
      text-align: center;
      font-weight: 600;
      padding: 2rem;
    }
  }

  .infinite-scroll-component {
    flex: 1;
    overflow: auto;
  }
}
