.navContainer {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f86c9;
    padding: 0 10rem;
    gap: 5rem;
  
    .left, .right {
      display: flex;
      align-items: center;
      gap: 3rem;
    }
  
    .right {
      margin-right: 0;
    }
  
    .logoBox {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-right: 2rem;
    }
  
    .textNav {
      font-family: "Inter";
      font-weight: 500;
      font-size: 2rem;
      padding: .5rem;
      border-radius: .5rem;
  
      &:hover {
        background: #249fef;
      }
    }
  
    .dropdownButon {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #fff;
  
      button {
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent !important;
        display: flex;
        align-items: center;
      }
  
      span {
        font-family: "Inter";
        font-weight: 500;
        font-size: 2rem;
        padding: .5rem;
      }
  
      .dropdownIcon {
        height: 2rem;
      }
    }
  
    .dropdownOptions {
      padding: 1rem;
      background-color: #ffff;
      border-radius: 0.6rem;
    }
  
    .dropdownLink {
      color: #000;
  
      .dropdownItem {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 0.3rem;
  
        &:hover {
          background-color: #f8f9fa;
        }
      }
    }
  
    
  
    @media screen and (max-width: 500px), screen and (max-width: 700px) {
      .navContainer {
        justify-content: space-around;
        gap: 0;
      }
  
      .textNav {
        display: none;
      }
  
      .left {
        gap: 0;
        margin: 0;
      }
  
      .right {
        margin-right: 0;
      }
    }
  
    @media screen and (max-width: 850px) {
      .userName, .uStream {
        display: none;
      }
    }
  
    @media screen and (max-width: 1000px) {
      .loginText {
        display: none;
      }
  
      .loginIcon {
        display: block;
      }
    }
  }
  