/* AlumnosAdm.module.scss */
.tableHeader {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 2rem;
  }

.sortContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);

    
    .inputSort {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        margin-top: .5rem;
        border: solid 0.1rem var(--primary-color);
        border-radius: .5rem;
    }
}

.actions {
    display: flex;

    .edit {
        background-color: #ffa800;
        color: #000;
        border: 0;
        font-size: 2.2rem;
        margin-right: 1rem;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
            background-color: #ffc04d;
        }
    }

    .delete {
        background-color: #ff391b;
        color: #000;
        font-size: 2.2rem;
        border: 0;
        border-radius: .5rem;
        cursor: pointer;

        &:hover {
            background-color: #ff654d;
        }
    }
}

.add {
    display: flex;
    align-items: center;
    height: 4rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    background: var(--primary-color);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: var(--secondary-color);
    }

    span {
      font-size: 1.8rem;
      font-weight: 600;
      color: white;
    }
}
