/* ProfesoresAddModal.module.scss */

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 2rem 3rem 3rem 3rem;
}

.closeButtonContainer {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  flex-direction: row;
  justify-content: flex-end;

  .closeButton {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
      border: solid 1px #cf2e15;
      border-radius: .5rem;
      padding: .1rem;

      svg {
          width: 2.5rem;
          height: 2.5rem;
          color: #cf2e15;

          &:hover {
              cursor: pointer;
          }
      }
  }
}

.modalEditTitle {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2rem;
}

.inputsFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.inputsFields button {
  height: 4rem;

  span {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
  }
}

.formLabel {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
}

.formInput {
  margin-top: 0.5rem;
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid #e5e5e5;
  border-radius: 0.5rem;
  padding: 1rem 1rem;

  &:focus {
    border: 1px solid #2ec5ce;
  }
}

.errorSession {
  display: flex;
  justify-content: center;
  color: #df4545;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  font-weight: 500;
}

.editUserButton {
  width: 100%;
  height: 4rem;
  background: var(--primary-color); /* Asegúrate de tener esta variable definida en tu tema */
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: var(--secondary-color); /* Asegúrate de tener esta variable definida en tu tema */
  }

  &:disabled {
    background: #e5e5e5;
    cursor: not-allowed;
  }

  span {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
  }
}

.errorText {
  color: #df4545;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  /* Agrega estilos específicos para pantallas más pequeñas si es necesario */
}
