.administradorContent {
  padding: 3rem 10rem;

  .tittle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;

    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  ul {
    border-bottom: .1rem solid #000000;
    margin-bottom: 4rem;
    color: #000;
    
    li {
        border : 0;
        padding-right: 2rem;
       

        button { 
            background-color: transparent !important;
            border: 0 !important;
            padding: .5rem 0;
            color: #000;
        }
    }    
  }
}
