.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #001d50, #253765, #435479, #62718d, #848fa1);
}