.credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #6bc8d1, #66c6de, #6ac3e9, #78bff2, #8cbaf6);
}