.juegosContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem 2rem 5rem;

    .tittle h2 {
      font-size: 3rem;
      font-weight: 600;
    }

    .juegosBody {
      max-width: 100%;
      overflow-y: auto;

        
      .juegosCardGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
        margin: 0;
        padding: 1rem;
      }

      .noMoreTextContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
      }
      
    }
}


@media screen and (max-width: 768px) {

  .juegosContainer {
    padding: 1rem;
    .juegosBody{
      .juegosCardGrid{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }
    }
  }
    
}





@media screen and (max-width: 480px) {
  .juegosContainer {
    .juegosBody{
      display: flex;
      flex-direction: column;


      .juegosCardGrid{
        display: flex;
        flex-direction: row;
      }
    }
  }
}
