.container {
  height: 100%;
  width: 100vw;

  display: grid;
  overflow: hidden;

  grid-template-areas: "content sidebar";
  grid-template-columns: var(--content-width) auto;
  //grid-template-rows: var(--navbar-height) auto;

  .contentContainer {
    overflow-y: auto;
    overflow-x: hidden;
    grid-area: content;
    background: #f5f5f5;

    .content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }
}
