.tutorialContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem 2rem 5rem;
  
    .tittle h2 {
      font-size: 3rem;
      font-weight: 600;
    }
  
    .tutorialBody {
      display: flex;
      flex-direction: row;
      //border: .2rem solid #E5E5E5;
      border-radius: 1rem;
      box-shadow: 0 0 1rem 0 #E5E5E5;
      background: #ffffff;
  
      .tutorialVideosLeft {
        display: flex;
        flex-direction: column;
        border-right: .1rem solid #E5E5E5;
        overflow-y: auto;
      }
  
      .tutorialVideoMain {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        padding: 2rem;
        overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado grande */

      }
    }
  }
  