.inputContainer {
    position: relative;
}

.inputText{
    width: 100%;
    height: 5rem;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: .5rem;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    resize: none;
    outline: none;

    padding-right: 4rem; /* Ajusta según el tamaño de tu icono */

}

.icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Valor negativo para alejar el icono hacia la izquierda */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}
