
.postButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 5rem;
    border: 0;
    background-color: #1f86c9;
    border-radius: .5rem;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    font-weight: 600;
    resize: none;
    outline: none;
}
