.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5rem;
    padding: 3rem;
}

.inputsFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 2rem;
}

.inputsFields button {
    width: 100%;
    height: 4rem;
    background-color: #1f86c9;
    border: none;


    span {
        font-size: 1.8rem;
        font-weight: 600;
        color: white;
    }
}

.formLabel {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000000;
}

.formInput {
    margin-top: .5rem;
    width: 100%;
    height: 4rem;
    outline: none;
    //font-size: 1.8rem;
    border: 1px solid #E5E5E5;
    border-radius: .5rem;
    padding: 1rem 1rem;
    
    &:focus {
        border: 1px solid #2ec5ce;;
    }
}

.textArea {
    height: 10rem;
}
  


.errorText {
    color: #df4545;
    font-size: 1.2rem;
    margin-top: 0.2rem;
    font-weight: 500;
}




  
@media screen and (max-width: 768px) {
    .inputsFields {
        width: 20rem;
    }
}