.changePasswordContent {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    .backButtonContainer {
      display: flex;
      justify-content: flex-start;
  
      .changePasswordBackButton {
        padding: 0.3rem 0.5rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        background: var(--primary-color);
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
  
        svg {
          width: 1.8rem;
          height: 1.8rem;
        }
  
        &:hover {
          background: var(--secondary-color);
        }
      }
    }
  
    .pageTitle {
      display: flex;
      flex-direction: column;
      font-size: 2.5rem;
      font-weight: 700;
      color: var(--primary-color);
      text-align: center;
    }
  
    .changePasswordText {
      font-size: 1.5rem;
      font-weight: 500;
      color: #777;
    }
  
    .changePasswordForm {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
  
      .changePasswordInputContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .formLabel {
          font-size: 1.6rem;
          font-weight: 600;
          color: #000000;
        }
  
        .changePasswordInput {
          padding: 1rem;
          border-radius: 0.5rem;
          border: 1px solid #ccc;
          outline: none;
          transition: 0.3s;
  
          &:focus {
            border: 1px solid var(--primary-color);
          }
        }
  
        .errorText {
          color: #df4545;
          font-size: 1.2rem;
          margin-top: 0.2rem;
          font-weight: 500;
        }
      }
  
      .forgotContainer {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
  
        .changePasswordword {
          font-size: 1.3rem;
          font-weight: 500;
          color: #777;
          text-align: center;
          cursor: pointer;
          transition: 0.3s;
          color: var(--primary-color);
  
          &:hover {
            color: var(--secondary-color);
          }
        }
      }
  
      .changePasswordButton {
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        background: var(--primary-color);
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
  
        &:hover {
          background: var(--secondary-color);
        }
      }
    }
  }
  