.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 65rem);
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    //border: 1px solid #E5E5E5;
    border-radius: 0.5rem;
}

