iframe {
    width: 100%;
    height: 50rem;
    border-radius: 1rem;
}
  
.videoTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.videoDescription {
    font-size: 1.5rem;
    font-weight: 400;
    background: #f5f5f5;
    padding: 1rem;
    border-radius: 1rem;
    overflow-wrap: break-word; /* Permite que las palabras largas se dividan si superan el ancho del contenedor */
    max-width: 100%; /* Establece un ancho máximo */
    word-wrap: break-word;  /* Agrega barras de desplazamiento si el contenido supera el ancho */
    white-space: pre-line;

    a {
        color: #1E90FF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    

    .videoDescription:hover {
    background: #000;
    }

    .readMore {
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1E90FF;
        cursor: pointer;
    }

    .readLess {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 600;
        color: #1E90FF;
        cursor: pointer;
    }
}


@media screen and (max-width: 540px) {
    iframe{
        height: 25rem;
    }
  }

@media screen and (max-width: 480px) {
    iframe{
        height: 25rem;
    }
  }

  @media screen and (max-width: 400px) {
    iframe{
        height: 20rem;
    }
  }