.searchModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;

  .searchModalHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

    .backButton{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 2rem;
        color: var(--primary-color);
        transition: all 0.3s ease;
    
        &:hover {
            color: var(--secondary-color);
        }
    }
  }
}
